<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewTracker.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NewTracker.App>
            <setting name="IsTargetEllipse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsTargetRect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCursorEllipse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCursorRect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SrcFile" serializeAs="String">
                <value>src.txt</value>
            </setting>
            <setting name="DstFile" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ShotFrequency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SaveFrequency" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WriteUnique" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TargetWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TargetHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CursorWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CursorHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="CursorColor" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="IsGetFromFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsGetFromServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BestScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsUDPConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTCPConnection" serializeAs="String">
                <value>True</value>
            </setting>
        </NewTracker.App>
    </userSettings>
</configuration>